branches:
  only:
  - main

addons:
  postgresql: '9.4'

services:
- postgresql

language: python
python:
- '3.6'

before_script:
- sudo apt-get install python-dev

install:
- pip install psycopg2 --quiet
- pip install pandas --quiet
- pip install pytest --quiet

script:
   - 'pytest mimic-iii/tests'