# Use postgres/example user/password credentials
version: '3.9'
services:
  mimic-db:
    image: mimiciv
    build: .
    restart: always
    ports:
      # you may need to change the host port if you have another postgres
      # instance running on the host machine.
      - 5432:5432
    volumes:
      # this mounts the mimic csv files to the /data/ directory within the
      # container.
      - ./mimic-data/:/data/
      # this maps a directory on the host machine (i.e. ./mimic-db/) to the
      # container so that the data in the database can persist after container
      # has been shut down.
      - ./mimic-db/:/var/lib/postgresql/data/
    environment:
      # this will be the name of the database within Postgres.
      POSTGRES_DB: mimiciv
      # set this to the same user that owns the directory storing the .csv data
      # (hint: check ls -l ./mimic-data/) this should be the user of host
      # machine. this will also be the user you will use to authenticate with
      # postgres
      POSTGRES_USER: mlbernauer
      # this will be the password for authenticating with postgres...set to
      # whatever you want
      POSTGRES_PASSWORD: pass123
