+++
title = "MIMIC-IV"
linkTitle = "MIMIC-IV"
+++

{{< blocks/cover title="MIMIC-IV" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/access" >}}">
		Access <i class="fas fa-download ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-success mr-3 mb-4" href="https://github.com/MIT-LCP/mimic-iv">
		Code <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Freely available medical data for research.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
MIMIC-IV is a publicly available database of patients admitted to the Beth Israel Deaconess Medical Center in Boston,
MA, USA.
{{% /blocks/lead %}}

{{< blocks/section color="primary-light" >}}
{{% blocks/feature icon="fa-lightbulb" title="Documentation" url="https://mimic-iv.mit.edu/docs" %}}
Detailed description of the database is provided in the docs.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Collaborate" url="https://github.com/MIT-LCP/mimic-iv" %}}
Find and share code for working with MIMIC-IV on our GitHub repository.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitter" title="Discuss" url="https://gitter.im/mimic-iv/community" %}}
Discuss MIMIC-IV on Gitter.
{{% /blocks/feature %}}


{{< /blocks/section >}}